###List Comprehension

- Utilizando list comprehension nõs podemos gerar novas listas com dados processados a partir de outro iterável

Sintaxe da list comprehension
- [dado for dado in iterável]

In [ ]:
#Para entender melhor o acontecerá, devemos dividir a expressão em duas partes: a primeira parte: for numero in numeros/ a segunda parte: numero * 10 
numeros = [1,2,3,4,5]
res = [numero * 10 for numero in numeros]
print(res)

[10, 20, 30, 40, 50]

In [2]:
res = [numero / 2 for numero in numeros]
print(res)

[0.5, 1.0, 1.5, 2.0, 2.5]

In [3]:
def funcao(valor):
    return valor * valor

res = [funcao(numero) for numero in numeros]
print(res)

[1, 4, 9, 16, 25]

In [4]:
#List comprehension vs loop

#Loop
numeros = [1,2,3,4,5]
numeros_dobrados = []

for numero in numeros:
    numero_dobrados = numero * 2
    numeros_dobrados.append(numero_dobrados)
    
print(numeros_dobrados)

[2, 4, 6, 8, 10]

In [5]:
numeros_dobrados = [numero * 2 for numero in numeros]
print(numeros_dobrados)

[2, 4, 6, 8, 10]

In [6]:
nome = 'Geek University'
print([letra.upper() for letra in nome])

['G', 'E', 'E', 'K', ' ', 'U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'T', 'Y']

In [9]:
def caixa_alta(nome):
    nome = nome.replace(nome[0], nome[0].upper())
    return nome

amigos = ['maria', 'júlia', 'pedro', 'guilherme', 'vanessa']
print([caixa_alta(amigo) for amigo in amigos])

['Maria', 'Júlia', 'Pedro', 'Guilherme', 'Vanessa']

In [10]:
print([numero * 3 for numero in range(1,10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [11]:
print([bool(valor) for valor in [0,[], '', True,1, 3.14]])

[False, False, False, True, True, True]

In [12]:
print([str(numero) for numero in [1,2,3,4,5]])

['1', '2', '3', '4', '5']